body {
    font-family: Jost, Arial, sans-serif;
    font-size: 20px;
    background-color: #eed3bb;
}

.navbar-dark {
    background-color: #361c1f;
}

.new_content {
    margin-bottom: 30px;
    transition: 1s;
}

.new_content:hover {
    transform: scale(0.98);
}

.new_head {
    margin-top: 30px;
    margin-bottom: 0px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.media-body {
    margin: 30px;
}

.shopnow {
    text-decoration: none;
    color: black;
}

.linelink:hover {
    text-decoration: none;
}

.linelink::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width .3s;
}

.linelink:hover::after {
    width: 100%;
    transition: width .3s;
}

.shopnow:hover {
    text-decoration: none;
}

footer {
    background-color: #361c1f;
    font-size: 15px;
}

li a.linelink {
    color: white;
    opacity: 0.8;
    font-family: Poppins, Arial, sans-serif;
    font-size: 12px;
}

.footmargin {
    margin-top: 30px;
}

.sidenav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    height: 100%;
    opacity: 0.7;
}

.sidenavcontent {
    margin-top: 290px;
}

.fa {
    margin-bottom: 15px;
    margin-left: 10px;
    color: #ac7b54;
}

.footmargin {
    color: white;
}

li h4 b {
    font-size: 18px;
}

#inputEmail {
    background-color: #361c1f;
}

.btn-dark {
    margin-left: -20px;
    background-color: #361c1f;
}

.pagination{
    margin-top: 15px;
}

.page-link {
    background-color: #eed3bb;
    color: black;
}

.badge-dark {
    margin-bottom: 10px;
    background-color: #2b1f15;
    width: 100px;
}

.card-title{
    font-family: Poppins, Arial, sans-serif;
    color:#331f1e;
    font-weight: bolder;
}

.card-text{
    font-family: Poppins, Arial, sans-serif;
    font-size: 15px;
}

.card{
    margin-top: 50px;
    background-color:#eddcca;
    color:black;
    transition: 1s;
    margin-right: 100px;
}

.card:hover{
    transform: scale(0.98);

}

.btn-primary{
    background-color:#5c9488;
    border-color: #55a191;
}

.btn-primary:hover{
    background-color: #55a191;
}

.pricetag{
    margin-bottom: 20px;
    margin-right: 60px;
    margin-left: 60px;
    width: 80px;
}


.jumbotron{
    background-color: #eddcca;
}

.row-header{
    margin-top: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.media-body h2{
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.breadcrumb{
    background-color: #eddcca;
}

.form-control{
    background-color: #eddcca;
}